{% extends 'includes/base.html' %}

{% block title %}Inicio de sesión{% endblock %}

{% block content %}
<div class="container c-bg c-bg__gray-400 vh-100 pt-5">
    <div class="row">
        <div class="col">
            <a class="c-btn c-btn-primary c-btn-block mb-3" href="{{ url_for('routes.logout') }}">Salir</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <nav class="c-menu d-flex flex-wrap justify-content-center justify-content-md-start align-items-center h-100">
                <a href="./create-client.html" class="c-btn c-btn-primary mb-4"><i class="c-icon c-icon--white bi bi-lock-fill me-3"></i> Clientes y Ventas</a>
                <a href="./renewal.html" class="c-btn c-btn-primary mb-4"><i class="c-icon c-icon--white bi bi-person-vcard me-3"></i> Renovaciones</a>
                <a href="./bills.html" class="c-btn c-btn-primary mb-4"><i class="c-icon c-icon--white bi bi-lock me-3"></i> gastos</a>
                <a href="./income.html" class="c-btn c-btn-primary mb-4"><i class="c-icon c-icon--white bi bi-clipboard-data me-3"></i> ingresos</a>
                <a href="./outcome.html" class="c-btn c-btn-primary mb-4"><i class="c-icon c-icon--white bi bi-clipboard-data me-3"></i> Retiros</a>
                <a href="#" class="c-btn c-btn-primary mb-4"><i class="c-icon c-icon--white bi bi-clipboard-data me-3"></i> Pagos</a>
            </nav>
        </div>
    </div>
</div>
{% endblock %}
